.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
li.collection-item{
  display: flex;
  justify-content: space-around;
}
select.colors {
  width: 100px;
  height: 100px;
  display: block;
}
.material-icons{
  line-height: 1.5 !important;
}